@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --gray-800: #1F1F1F;
    --gray-700: rgb(83 82 82);
    --gray-300: #E4E4E4;
    --gray-100: #F7F7F7;
    --white: #FFFFFF;

    --green: #AFEA0D;
    --green-light: #F2FCDB;

    --orange: rgb(231 129 40);
    --bg-gray: rgb(39 38 37);

    --text-white: #FFFFFF;
    --text-gray-800: #1F1F1F;
    --text-gray-300: #E4E4E4;
    --text-gray-100: #F7F7F7;
}

body {
    color: var(--text-white);
    background: var(--gray-800);
    font-family: Arial, Helvetica, sans-serif;
}

body, input, textarea, select, button {
    font: 400, 1rem sans-serif;
}

a {
    color: inherit;
    text-rendering: none;
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

button {
    background-color: var(--orange);
    color: var(--white);
    font-weight: 600;
    border-radius: 4px;
    padding: 10px 8px;
}

button:hover {
    opacity: .85;
}

input, textarea, select {
    color: var(--white);
    background-color: var(--gray-700);
    border-radius: 4px;
    padding: 10px 8px;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
    color: var(--gray-300);
    opacity: 1;
}